/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*$primary-color: #f4787f;*/
/* line 12, ../sass/screen.scss */
body {
  background-color: #41C6EA;
}

/* line 16, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, a, ol li, ul li, li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
}

/* line 22, ../sass/screen.scss */
a:hover {
  color: #fff;
  cursor: pointer;
}

/* line 27, ../sass/screen.scss */
p {
  font-size: 22px;
}

/* line 31, ../sass/screen.scss */
h1 {
  font-size: 70px;
  text-align: center;
  line-height: 1.5;
}

/* line 37, ../sass/screen.scss */
h2 {
  font-size: 35px;
  text-align: center;
}

/* line 42, ../sass/screen.scss */
.link {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
}

/* line 51, ../sass/screen.scss */
.btn {
  padding: 15px 0;
  background-color: #F6F6F6;
  color: #223954;
  font-size: 18px;
  font-weight: 700;
}

/* line 59, ../sass/screen.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}
/* line 64, ../sass/screen.scss */
.navbar-default .navbar-nav li a {
  padding: 0;
}
/* line 71, ../sass/screen.scss */
.navbar-default .navbar-header .navbar-brand {
  color: #fff;
  padding: 39px 15px 15px;
  font-weight: 700;
}
/* line 78, ../sass/screen.scss */
.navbar-default .navbar-right .btn {
  width: 200px;
  margin-top: 25px;
}
/* line 81, ../sass/screen.scss */
.navbar-default .navbar-right .btn a {
  color: #223954;
  font-weight: 700;
  font-size: 16px;
}

/* line 92, ../sass/screen.scss */
.intro img {
  margin: 99px 0 218px;
}

/* line 98, ../sass/screen.scss */
.getitnow {
  padding-top: 100px;
}
/* line 101, ../sass/screen.scss */
.getitnow .echorender-container .echorender {
  position: absolute;
  margin-top: 221px;
}
/* line 105, ../sass/screen.scss */
.getitnow .echorender-container .boyrender {
  margin-top: 113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}
/* line 115, ../sass/screen.scss */
.getitnow p {
  text-align: center;
  margin-top: 591px;
}
/* line 119, ../sass/screen.scss */
.getitnow h1 {
  font-size: 66px;
  text-align: center;
  margin: 0px 0 30px;
}

/* line 128, ../sass/screen.scss */
.quote h1 {
  margin-top: 88px;
  margin-bottom: 40px;
}
/* line 132, ../sass/screen.scss */
.quote p {
  font-size: 22px;
  text-align: center;
}

/* line 140, ../sass/screen.scss */
.sayhey .spaceman-container .ghostrender {
  position: absolute;
  margin-top: 221px;
  right: 0;
}
/* line 145, ../sass/screen.scss */
.sayhey .spaceman-container .spacemanrender {
  margin-top: 113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}
/* line 155, ../sass/screen.scss */
.sayhey h1 {
  margin-top: 666px;
  margin-bottom: 80px;
}
/* line 160, ../sass/screen.scss */
.sayhey .sayhey-containers h2, .sayhey .sayhey-containers p {
  font-size: 35px;
  text-align: center;
}
/* line 164, ../sass/screen.scss */
.sayhey .sayhey-containers p {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 110px;
}

/* line 173, ../sass/screen.scss */
.social h1 {
  margin-top: 110px;
  margin-bottom: 50px;
}

/* line 179, ../sass/screen.scss */
.footer {
  margin: 260px 0;
}

@media (max-width: 768px) {
  /* line 184, ../sass/screen.scss */
  h1 {
    font-size: 50px;
  }

  /* line 187, ../sass/screen.scss */
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  /* line 191, ../sass/screen.scss */
  .navbar-default .navbar-right .btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}
